.main-header .logo{
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.skin-blue .main-header .logo{
  background-color: #1e282c;
}

.skin-blue .main-header .navbar {
  background-color: #033860;
}

.skin-blue .main-sidebar {
  background-color: #033860;
}
.content-wrapper{
  background-color: #0C1821;
}

.nav{
  background-color : #033860;
}

.nav-tabs-custom{
  background-color : #0C1821;
}
.well,#actBtnVisualisation{
  background-color: #033860;
  border-color: #2e6da4;
  color : #fff;
}

.well,#buttonsave{
  background-color: #033860;
  border-color: #2e6da4;
  color : #fff;
  vertical-align:bottom;
}

#match,#act{
   background-color: #8e3b46;
   color : #fff;
}
.nav-tabs-custom .tab-content{
  background : #033860;
}

#UN,#DEUX,#TROIS,#QUATRE{
  height:250px;
  width:500px; 
  font-size:100%;
  color: #fff;
  background-color : #033869 ; 
  border-color: #2e6da4;
}

#UN:hover,#DEUX:hover,#TROIS:hover,#QUATRE:hover{
  height:250px;
  width:500px; 
  font-size:100%;
  color: #fff;
  background-color : #8e3b46; 
  border-color: #2e6da4;
}

.shiny-text-output{
  color: #fff;
}

h1{
  color : #fff;
}

.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {     background-color: #1e282c;
  border-color: transparent;
  color : #fff;
}

.nav-tabs-custom .nav-tabs li.header{
  color : #fff;
}

.nav-tabs-custom .nav-tabs li.active {
  border-top-color: #fff;
}